body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navBar {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #ddd;
  height: 60px;
  padding: 0 40px;
  font-size: 20px;
}
.logo {
  height: 40px;
  margin-right: 10px;
}
.heroSection {
  display: flex;
  align-items: center;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 60px);
  width: fit-content;
  border: solid #ddd;
  border-width: 0 2px 0 0;
}
.userDetails {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
.userProfile {
  align-self: center;
  margin: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 40px;
}
.userData {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.userData label {
  font-weight: 600;
  margin-right: 30px;
}
.dashLinks {
  margin-top: 30px;
  border-top: solid 2px #ddd;
  width: 100%;
  overflow-y: scroll;
}
.dashLinks::-webkit-scrollbar {
  display: none;
}
.dashLink {
  border-bottom: solid 2px #ddd;
}
.dashLink p {
  padding: 15px 40px;
  margin: 0;
}
.dashDropDownList {
  transition: display 0.6s ease-in-out;
  display: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dashLink:hover .dashDropDownList {
  display: block;
  cursor: pointer;
}
.dashDropDownList li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 0;
  background-color: #ddd;
  border-top: solid 1px #bbb;
  padding-left: 60px;
  width: calc(100% - 60px);
}
.dashDropDownList li:hover {
  background-color: #bbb;
}
.dashDropDownList li::before {
  content: '➜';
  position: absolute;
  opacity: 0;
  right: 20px;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.dashDropDownList li:hover::before {
  opacity: 1;
  transform: rotate(0deg);
  cursor: pointer;
}
.payRollCards {
  height: calc(100vh - 60px);
  width: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: solid 2px #ddd;
  padding: 0 40px;
}
.payRollCards::-webkit-scrollbar {
  display: none;
}
.payRollCard {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  margin: 30px 0;
}
.payRollBtnCont {
  display: flex;
  justify-content: flex-end;
}
.payRollBtn {
  margin: 0 5px;
  padding: 8px 20px;
  border-radius: 20px;
  border: solid 2px;
  background-color: #4870f4;
  color: #fff;
  transition: background-color 0.3s;
}
.payRollBtn:hover {
  border: solid 2px #4870f4;
  background-color: #fff;
  color: #4870f4;
  cursor: pointer;
}
.payRollPreview {
  flex-grow: 1;
  margin-top: 10px;
  justify-self: flex-end;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.payRollPreview::-webkit-scrollbar {
  display: none;
}
.noData {
  display: flex;
  height: calc(100vh - 70px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #00000060;
}